.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
	width: 100%; height: 100%; 	
}
body {
	overflow:hidden;
	margin: 0; padding: 0;
}
canvas {
	width: calc(100% - 32px); height: calc(100% - 32px);
	display: block;
	padding: 16px;
}
#overlayCanvas, #linesCanvas, #hiddenCanvas {
	pointer-events: none;
	position: absolute;
	top: 0px;
	left: 0px;
}
#hiddenCanvas {
	display: none !important;
}
#caption, #background {
	width: calc(100% - 32px);
	height: 234px;
	margin: 0 16px;
	position: absolute;
	top: 13%;
	pointer-events: none;
}
#background {
	background-color: #fff;
}
#caption {
	background-image: url('../img/bar.png');
	background-repeat: no-repeat;
	font-size: 1.5em;
	line-height: 1.2em;
	font-family: 'Josefin Sans', sans-serif;
	color: #111;
/*
	border-top: 1px solid black;
	border-bottom: 1px solid black;
*/
}
#caption h1 {
	position: relative;
	top: 20px;
	left: 20px;
	font-size: 2.5em;
	max-width: 325px;
}
#caption h2 {
	position: relative;
	top: 2px;
	left: 20px;
	pointer-events: all;
	max-width: 700px;
}
#caption h2 a, #caption h2 a:visited {
	color: #111;
}